
<p> Welcome to kinect! </p>

<textarea id="text" type="text">please type your words here...</textarea>

<p> Now select a song... </p>

<%= render :partial => "select-song" %> 

<input id="echonest-song-id" type="hidden" value="ARR0KBC1187FB38177" name="echonest-song-id" />

<button onclick="play()">Play</button>
