div.jp-audio, div.jp-video {
    background-color: #EEEEEE;
    border: 1px solid #009BE3;
    color: #666666;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.25em;
    line-height: 1.6;
    position: relative;
}
div.jp-audio {
    width: 420px;
}
div.jp-video-270p {
    width: 480px;
}
div.jp-video-360p {
    width: 640px;
}
div.jp-video-full {
    height: 270px;
    position: static !important;
    width: 480px;
}
div.jp-video-full div.jp-jplayer {
    left: 0;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    z-index: 1000;
}
div.jp-video-full div.jp-gui {
    height: 100%;
    left: 0;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}
div.jp-video-full div.jp-interface {
    bottom: 0;
    left: 0;
    position: absolute !important;
    z-index: 1000;
}
div.jp-interface {
    background-color: #EEEEEE;
    position: relative;
    width: 100%;
}
div.jp-audio div.jp-type-single div.jp-interface {
    height: 80px;
}
div.jp-audio div.jp-type-playlist div.jp-interface {
    height: 80px;
}
div.jp-video div.jp-interface {
    border-top: 1px solid #009BE3;
}
div.jp-controls-holder {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -8px;
    width: 440px;
}
div.jp-interface ul.jp-controls {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
div.jp-audio ul.jp-controls {
    padding: 20px 20px 0;
    width: 380px;
}
div.jp-video div.jp-type-single ul.jp-controls {
    margin-left: 200px;
    width: 78px;
}
div.jp-video div.jp-type-playlist ul.jp-controls {
    margin-left: 172px;
    width: 134px;
}
div.jp-video ul.jp-controls, div.jp-interface ul.jp-controls li {
    display: inline;
    float: left;
}
div.jp-interface ul.jp-controls a {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}
a.jp-play, a.jp-pause {
    height: 40px;
    width: 40px;
}
a.jp-play {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 0 transparent;
}
a.jp-play:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -41px 0 transparent;
}
a.jp-pause {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -42px transparent;
    display: none;
}
a.jp-pause:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -41px -42px transparent;
}
a.jp-stop, a.jp-previous, a.jp-next {
    height: 28px;
    margin-top: 6px;
    width: 28px;
}
a.jp-stop {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -83px transparent;
    margin-left: 10px;
}
a.jp-stop:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -29px -83px transparent;
}
a.jp-previous {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -112px transparent;
}
a.jp-previous:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -29px -112px transparent;
}
a.jp-next {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -141px transparent;
}
a.jp-next:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -29px -141px transparent;
}
div.jp-progress {
    background-color: #DDDDDD;
    overflow: hidden;
}
div.jp-audio div.jp-progress {
    height: 15px;
    position: absolute;
    top: 32px;
}
div.jp-audio div.jp-type-single div.jp-progress {
    left: 110px;
    width: 186px;
}
div.jp-audio div.jp-type-playlist div.jp-progress {
    left: 166px;
    width: 130px;
}
div.jp-video div.jp-progress {
    height: 10px;
    left: 0;
    top: 0;
    width: 100%;
}
div.jp-seek-bar {
    background: url("../images/jplayer.blue.monday.jpg") repeat-x scroll 0 -202px transparent;
    cursor: pointer;
    height: 100%;
    width: 0;
}
div.jp-play-bar {
    background: url("../images/jplayer.blue.monday.jpg") repeat-x scroll 0 -218px transparent;
    height: 100%;
    width: 0;
}
div.jp-seeking-bg {
    background: url("jplayer.blue.monday.seeking.gif") repeat scroll 0 0 transparent;
}
a.jp-mute, a.jp-unmute, a.jp-volume-max {
    height: 15px;
    margin-top: 12px;
    width: 18px;
}
div.jp-audio div.jp-type-single a.jp-mute, div.jp-audio div.jp-type-single a.jp-unmute {
    margin-left: 210px;
}
div.jp-audio div.jp-type-playlist a.jp-mute, div.jp-audio div.jp-type-playlist a.jp-unmute {
    margin-left: 154px;
}
div.jp-audio a.jp-volume-max {
    margin-left: 56px;
}
div.jp-video a.jp-mute, div.jp-video a.jp-unmute, div.jp-video a.jp-volume-max {
    margin-top: 0;
    position: absolute;
    top: 12px;
}
div.jp-video a.jp-mute, div.jp-video a.jp-unmute {
    left: 50px;
}
div.jp-video a.jp-volume-max {
    left: 134px;
}
a.jp-mute {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -170px transparent;
}
a.jp-mute:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -19px -170px transparent;
}
a.jp-unmute {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -60px -170px transparent;
    display: none;
}
a.jp-unmute:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -79px -170px transparent;
}
a.jp-volume-max {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -186px transparent;
}
a.jp-volume-max:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -19px -186px transparent;
}
div.jp-volume-bar {
    background: url("../images/jplayer.blue.monday.jpg") repeat-x scroll 0 -250px transparent;
    cursor: pointer;
    height: 5px;
    overflow: hidden;
    position: absolute;
    width: 46px;
}
div.jp-audio div.jp-volume-bar {
    left: 330px;
    top: 37px;
}
div.jp-video div.jp-volume-bar {
    left: 72px;
    top: 17px;
}
div.jp-volume-bar-value {
    background: url("../images/jplayer.blue.monday.jpg") repeat-x scroll 0 -256px transparent;
    height: 5px;
    width: 0;
}
div.jp-audio div.jp-time-holder {
    position: absolute;
    top: 50px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
    left: 110px;
    width: 186px;
}
div.jp-audio div.jp-type-playlist div.jp-time-holder {
    left: 166px;
    width: 130px;
}
div.jp-current-time, div.jp-duration {
    font-size: 0.64em;
    font-style: oblique;
    width: 60px;
}
div.jp-current-time {
    display: inline;
    float: left;
}
div.jp-duration {
    display: inline;
    float: right;
    text-align: right;
}
div.jp-video div.jp-current-time {
    margin-left: 20px;
}
div.jp-video div.jp-duration {
    margin-right: 20px;
}
div.jp-title {
    font-weight: bold;
    text-align: center;
}
div.jp-title, div.jp-playlist {
    background-color: #CCCCCC;
    border-top: 1px solid #009BE3;
    width: 100%;
}
div.jp-type-single div.jp-title, div.jp-type-playlist div.jp-title, div.jp-type-single div.jp-playlist {
    border-top: medium none;
}
div.jp-title ul, div.jp-playlist ul {
    font-size: 0.72em;
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
}
div.jp-title li {
    font-weight: bold;
    padding: 5px 0;
}
div.jp-playlist li {
    border-bottom: 1px solid #EEEEEE;
    padding: 5px 0 4px 20px;
}
div.jp-playlist li div {
    display: inline;
}
div.jp-type-playlist div.jp-playlist li:last-child {
    border-bottom: medium none;
    padding: 5px 0 5px 20px;
}
div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 7px;
}
div.jp-type-playlist div.jp-playlist a {
    color: #333333;
    text-decoration: none;
}
div.jp-type-playlist div.jp-playlist a:hover {
    color: #0D88C1;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
    color: #0D88C1;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
    color: #666666;
    display: inline;
    float: right;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
    color: #0D88C1;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media {
    display: inline;
    float: right;
    margin-right: 10px;
    text-align: right;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a {
    color: #666666;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover {
    color: #0D88C1;
}
span.jp-artist {
    color: #666666;
    font-size: 0.8em;
}
div.jp-video-play {
    background-color: transparent;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
div.jp-video-270p div.jp-video-play {
    height: 270px;
}
div.jp-video-360p div.jp-video-play {
    height: 360px;
}
div.jp-video-full div.jp-video-play {
    height: 100%;
    z-index: 1000;
}
a.jp-video-play-icon {
    background: url("jplayer.blue.monday.video.play.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 100px;
    left: 50%;
    margin-left: -56px;
    margin-top: -50px;
    position: relative;
    text-indent: -9999px;
    top: 50%;
    width: 112px;
}
div.jp-video-play:hover a.jp-video-play-icon {
    background: url("jplayer.blue.monday.video.play.png") no-repeat scroll 0 -100px transparent;
}
div.jp-jplayer audio, div.jp-jplayer {
    height: 0;
    width: 0;
}
div.jp-jplayer {
    background-color: #000000;
}
ul.jp-toggles {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
div.jp-audio .jp-type-single ul.jp-toggles {
    width: 25px;
}
div.jp-audio .jp-type-playlist ul.jp-toggles {
    left: 325px;
    margin: 0;
    position: absolute;
    top: 50px;
    width: 55px;
}
div.jp-video ul.jp-toggles {
    margin-top: 10px;
    width: 100px;
}
ul.jp-toggles li {
    display: block;
    float: right;
}
ul.jp-toggles li a {
    display: block;
    height: 18px;
    line-height: 100%;
    text-indent: -9999px;
    width: 25px;
}
a.jp-full-screen {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -310px transparent;
    margin-left: 20px;
}
a.jp-full-screen:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -30px -310px transparent;
}
a.jp-restore-screen {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -60px -310px transparent;
    margin-left: 20px;
}
a.jp-restore-screen:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -90px -310px transparent;
}
a.jp-repeat {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -290px transparent;
}
a.jp-repeat:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -30px -290px transparent;
}
a.jp-repeat-off {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -60px -290px transparent;
}
a.jp-repeat-off:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -90px -290px transparent;
}
a.jp-shuffle {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll 0 -270px transparent;
    margin-left: 5px;
}
a.jp-shuffle:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -30px -270px transparent;
}
a.jp-shuffle-off {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -60px -270px transparent;
    margin-left: 5px;
}
a.jp-shuffle-off:hover {
    background: url("../images/jplayer.blue.monday.jpg") no-repeat scroll -90px -270px transparent;
}
.jp-no-solution {
    background-color: #EEEEEE;
    border: 2px solid #009BE3;
    color: #000000;
    display: none;
    font-size: 0.8em;
    left: 50%;
    margin-left: -202px;
    padding: 5px;
    position: absolute;
    top: 10px;
    width: 390px;
}
.jp-no-solution a {
    color: #000000;
}
.jp-no-solution span {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

