<!DOCTYPE html>
<html>
<head>
  <title>Kinetic</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.6.4.min', 'rails', 'application', 'jquery.jplayer.min' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
